* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.baground {
  background-image: url("/asset/bg.jpg");
  height: auto;
  background-attachment: scroll;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body */

body {
  font-family: cursive;
  background-color: rgb(241, 249, 252);
}

/* header */
header {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header h1 {
  font-size: 50px;
}

/* navbar */
nav ul {
  list-style: none;
  overflow: hidden;
}

nav li {
  float: right;
}

nav a {
  display: block;
  color: beige;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
}

nav a:hover {
  background-color: rgb(44, 63, 47);
}

/* home */
.home {
  padding: 50px;
  color: white;
  background: linear-gradient(70deg, black, blue);
  margin: 50px;
  border-radius: 15px;
}

.home h2 {
  text-align: center;
  font-size: 45px;
}

.home p {
  text-align: left;
  margin: 50px;
}

.home button {
  color: white;
  background-color: blueviolet;
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.home a {
  background-color: aliceblue;
  padding: 11px;
  text-decoration: none;
}
/* biografi singkat */
.biografi-singkat {
  text-align: left;
  padding: 25px;
  margin: 0px;
  background: black;
  border-radius: 15px 500px 15px 15px;
  margin: 50px;
  border: 10px solid blue;
  color: white;
}

.biografi-singkat h2 {
  font-size: 40px;
  padding-top: 40px;
  padding-left: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.biografi-singkat p {
  font-size: 20px;
  padding: 30px;
  font-family: "Times New Roman", Times, serif;
}

/* history */
.cerita-perjalanan {
  padding: 50px;
  background-color: rgb(183, 162, 162);
  margin: 50px;
  border: 10px solid rgb(0, 0, 0);
}

.cerita-perjalanan h2 {
  font-size: 24;
  margin-bottom: 20px;
}

.cerita-perjalanan p {
  font-size: 16px;
}

/* porto */
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.video-container {
  width: 300px;
  margin: 20px;
}

.video-container iframe {
  width: 100%;
  height: 200px;
  border: 4px solid #ccc;
}

/* kontak */
.kontak {
  background-color: rgb(13, 0, 255);
  color: wheat;
  padding: 50px;
  text-align: center;
}

.kontak h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.kontak ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kontak li {
  display: inline-block;
  margin-right: 30px;
}

.kontak a {
  color: white;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 40px;
  background-color: rgb(25, 29, 43);
  color: white;
  padding: 20px;
  text-align: center;
}
