* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.baground {
  background-image: url("../asset/bg.jpg");
  height: auto;
  background-attachment: scroll;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body */

body {
  font-family: sans-serif;
  background-color: rgb(241, 249, 252);
}

/* header */
header {
  background: linear-gradient(70deg, blue, black);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  font-family: cursive;
}

header h1 {
  font-size: 50px;
}

/* navbar */
nav ul {
  list-style: none;
  overflow: hidden;
  font-family: Merriweather;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: beige;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
}

nav a:hover {
  background-color: blue;
}

/* home */
.home {
  padding: 50px;
  color: white;
  background: linear-gradient(70deg, blue, black);
  margin: 50px;
  border-radius: 15px;
}

.home h2 {
  text-align: left;
  font-size: 45px;
}

.home p {
  text-align: left;
  margin: 50px;
  font-size: 19px;
}

.home button {
  color: white;
  background-color: royalblue;
  padding: 17px;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: -20%;
}

.home a {
  background-color: pink;
  padding: 11px;
  text-decoration: none;
}
/* biografi singkat */
.biografi-singkat {
  text-align: left;
  padding: 25px;
  background: black;
  border-radius: 15px 500px 15px 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10%;
  border-bottom: 20px solid blue;
  color: white;
}

.biografi-singkat h2 {
  font-size: 40px;
  padding-top: 40px;
  padding-left: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.biografi-singkat p {
  font-size: 20px;
  padding: 30px;
  font-family: "Times New Roman", Times, serif;
}

/* history */
.cerita-perjalanan {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background: linear-gradient(black, blue, white);
  margin: 50px;

  gap: 20px;
  border-radius: 15px;
}

.story-notes {
  background-color: white;
  margin: 25px;
  padding: 25px;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  box-shadow: 10px 10px rgb(210, 210, 238);
}

.story-notes img {
  border-radius: 50%;
  height: 200px;
  position: relative;
  margin-top: -25%;
  border: 10px solid rgb(0, 0, 0);
}

.cerita-perjalanan h2 {
  font-size: medium;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline rgb(2, 31, 148);
}

.cerita-perjalanan p {
  text-align: justify;
}

/* service */
.service {
  background: linear-gradient(rgb(255, 255, 255), red);
  margin: 50px;
  border-radius: 15px;
  padding-bottom: 100px;
  /* border: 1px solid red; */
}

.service div {
  background-color: rgb(252, 214, 214);
  display: flex;
  flex-direction: row;
  margin: 25px;
  border-radius: 15px;
}
.service div div {
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
}

.service h4 {
  text-align: center;
  padding-top: 25px;
}

.service h1 {
  text-align: center;
  font-size: 25px;
  margin: 15px;
}
.service h5 {
  margin-bottom: 15px;
  color: #9c9898;
  text-align: center;
}

.service a {
  color: blue;
}

/* subscribed */
.subscribed {
  display: flex;
  flex-direction: row;
  color: rgb(230, 230, 230);
  justify-content: center;
  padding-top: 100px;
  gap: 200px;
}

.subscribed div {
  padding: 10px;
  display: flex;
  font-size: 25px;
  align-items: center;
  border-radius: 10px;
}

.subscribed div div {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

/* porto */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.portfolio h4 {
  margin: 25px;
  color: white;
  font: bolder;
}

.portfolio h2 {
  margin-bottom: 20px;
  font-size: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.container h1 {
  text-align: center;
}

.container-text {
  font-size: 30px;
  height: 500px;
  width: 500px;
  border: 1px solid red;
  color: black;
}

.container-text h4 {
  color: red;
}

.container-text:hover {
  background-color: red;
  opacity: 50%;
  transition: background-color 1s, color 3s;
  text-align: unset;
}

/* kontak */
.kontak {
  background-color: red;
  color: wheat;
  padding: 80px;
  text-align: center;
}

.kontak h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.kontak ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.kontak li {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 20px;
  color: white;
  align-items: center;
}

.kontak a {
  color: white;
  text-decoration: none;
}

.kontak li:hover {
  color: blue;
}

/* footer */
footer {
  background-color: rgb(25, 29, 43);
  color: white;
  padding: 20px;
  text-align: center;
}
